<h5>#ngIf</h5>

<div *ngIf="cursos.length > 0" >
  Lista de cursos aqui:
</div>
<div>
  <ul>
    <li *ngFor="let curso of cursos" >
      {{ curso }}
    </li>
  </ul>
</div>
<div *ngIf="cursos.length == 0" >
  Não existe cursos para serem listados.
</div>

<br>
<button (click)="onMostrarMsg()">Mostrar ou esconder</button>
<br>
<div *ngIf="mostrarMsg">
  Olha eu aqui!
</div>
<br>
<h5>Hidden como alternativa</h5>
<button (click)="onMostrarMsg()">Mostrar ou esconder</button>
<br>  
<div [hidden]="!mostrarMsg">
  Olha eu aqui!
</div>
<br>

<h5>Aula 28 - Removendo o * e usando template</h5>

<div *ngIf="mostrarMsg" >
    
</div>
<!-- traduzindo essa diretiva ngIf -->

<ng-template [ngIf]="mostrarMsg" >
  <div>Lista de cursos aqui.</div>
</ng-template>

<div template="ngIf mostrarMsg">
  Lista de cursos aqui.
</div>
