<!-- <section class="property-binding">

  <article>
    <h3>Interpolation</h3>
    <p>String renderizada com interpoção: {{ url }} </p>
    <p>Resultado de 1 + 1 é: {{ 1 +1 }}</p>
    <p>Resultado de 1 + 1 não é: {{ 1+1+getValor() }}</p>
    <p>Curso e Angular e gosto do curso: {{ cursoAngular && getCurtirCurso() }}</p>
    <p [textContent] = "mensagem"></p>
  </article> 

  <article>
    <h3>Property Binding</h3>
    <img src="{{ urlImage }}">
    <img [src]="urlImage" alt="property binding"> 
    <img bind-src="urlImage">
  </article>

  <article>
    <h3>Class and Syle Binding</h3>
    <div>
      Selecione uma classe:
      <select #classe (change)="0">
        <option value="alert-success">Sucesso</option>
        <option value="alert-info">Info</option>
        <option value="alert-warning">Alerta</option>
        <option value="alert-danger">Erro</option>
      </select>
      <br><br>

      interpolação
      <div class="alert {{ classe.value}}" role="alert">
        Texto colorido conforme o valor do combobox.
      </div>

      Property-binding de classe
      <div class="alert" role="alert" [class.alert-success]="classe.value == 'alert-success'">
        Sucesso
      </div>
      <div class="alert" role="alert" [class.alert-info]="classe.value == 'alert-info'">
        Info
      </div>
      <div class="alert" role="alert" [class.alert-warning]="classe.value == 'alert-warning'">
        Alerta
      </div>
      <div class="alert" role="alert" [class.alert-danger]="classe.value == 'alert-danger'">
        Erro
      </div>
      property-binding com estilo de classe
      <div class="alert alert-danger" role="alert"
        [style.display]="classe.value == 'alert-danger' ? 'block':'none'">
        Esse texto somente aparece em caso de erro.
      </div>

    </div>
  </article>
</section> -->


<!-- <section class="event-binding">

  <article>
    <h3>Event Binding</h3>
    <div>
      <button (click)="botaoClicado()" 
        class="btn btn-primary">
          Me clique!
      </button>

      <br><br>

      <input type="text" (keyup)="onKeyUp($event)" 
        (keyup.enter)="salvarValor(campoInput.value)" 
        (blur)="salvarValor(campoInput.value)" 
        #campoInput/>

      <br><br><br>
      <p>Valor atual: {{ valorAtual }}</p>
      <p>Valor salvo: {{ valorSalvo }}</p>

      <br>

      <span
        (mouseover)="onMouseOverOut()"
        (mouseout)="onMouseOverOut()"
        [class.highlight]="isMouseOver">
        Passe o mouse sobre mim!</span>


    </div>
  </article>

</section> -->


<!-- <section class="two-way-binding">
  <article>

    <h3>Two-Way Data-Binding</h3>
    <br><br>
    <div>


      <input type="text" 
        [value]="nome" 
        (input)="nome = $event.target.value" 
      />
    
      <input type="text" 
        [ngModel]="nome" 
        (ngModelChange)="nome = $event" 
      />

      <input type="text" [(ngModel)]="nome">

      <p>Voce digitou um nome: {{ nome }}</p>

    </div>
    <br>
    <div>
      <input type="text" placeholder="Digite seu nome" [(ngModel)]="pessoa.nome">
      <input type="text" placeholder="Digite sua idade" [(ngModel)]="pessoa.idade">
      <br>
      <input type="text" placeholder="Rua" [(ngModel)]="pessoa.end.rua">
      <input type="text" placeholder="Bairro" [(ngModel)]="pessoa.end.bairro">
      <p>Nome da pessoa: {{ pessoa.nome}} e idade: {{pessoa.idade}}</p>
      <p>{{pessoa.nome}} mora na Rua:{{ pessoa.end.rua}}, Bairro: {{pessoa.end.bairro}}</p>

    </div>

  </article>

</section> -->

<app-meu-form></app-meu-form>
<!-- 
(keyup.enter)="salvarValor($event.target.value)" ou
(keyup.enter)="salvarValor(campoInput.value)"


  PROPERTY BINDING
 <input type="text" 
    [value]="nome" 
    (input)="nome = $event.target.value" 
  />

  EVENT BINDING
  <input type="text" 
    [ngModel]="nome" 
    (ngModelChange)="nome = $event" 
  />

  TWO-DATA BINDING - Sintaxe Banana na caixa [()]
  <input type="text" [(ngModel)]="nome">


  Property-binding
    <img [src]="urlImage" alt="property binding"> 
    <img bind-src="urlImage">

  Event-Binding
    isto (click)="botaoClicado()" por debaixo dos panos é isso:
    on-click="botaoClicado()"
  
  Two-Data Binding
    <input type="text" [(ngModel)]="nome">
    <input type="text" bindon-ngModel="nome">



 -->