<section class="property-binding">

  <!-- <article>
    <h3>Interpolation</h3>
    <p>String renderizada com interpoção: {{ url }} </p>
    <p>Resultado de 1 + 1 é: {{ 1 +1 }}</p>
    <p>Resultado de 1 + 1 não é: {{ 1+1+getValor() }}</p>
    <p>Curso e Angular e gosto do curso: {{ cursoAngular && getCurtirCurso() }}</p>
    <p [textContent] = "mensagem"></p>
  </article> -->

  <!-- <article>
    <h3>Property Binding</h3>
    <img src="{{ urlImage }}">
    <img [src]="urlImage" alt="property binding"> 
    <img bind-src="urlImage">
  </article> -->

  <article>
    <h3>Class and Syle Binding</h3>
  </article>
</section>


<!-- 


 -->